*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: royalblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}


h1 {
    color: royalblue;
}

.list-container{
    margin-top: 20px;
    max-height: 100vh;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

li {
    background-color: #e2e8f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: green;
}

li:hover{
    background-color: rgb(169, 255, 161);
}

.caricamento{
    font-size: large;
    text-align: center;
    color: royalblue;
}